/* **************************************************************************
* Copyright 2020 Marshall Brown, Josiah Schmidt, Micah Withers
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
* See the License for the specific language governing permissions and
* limitations under the License.
************************************************************************** */


body {
    font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}


h1{
	clear:both;
}


ul {
	text-overflow: hidden;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	float: left;
	margin:0px;
	margin-bottom: 20px;
}

 a, #myBtnLot {
	text-align: center;
	text-decoration: none;
	margin: 0px auto;
	padding: 10px 63px;
	text-transform: uppercase;
	background-color: #dddddd;
	
}

nav {
	width:1274px;
}
	
a {
	display:block;	
}


/* Table in User Story 4.2 */
table {
    font-family: arial, sans-serif;
	border-collapse: collapse;
	margin: 0px auto;
	width: 80%;
	position: relative;
	bottom: 30px;
}

th, td {
	border: 1px solid #dddddd;
	padding: 8px;
}
			
           
			
label {
	font-weight: bold;
}
			
			

img {
	border-radius: 50%;
}

#highlight {
	background-color: orange;
}


}
#lotNum {
	margin-left: 20px;
}

/* The Modal (background) During Active Popup */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content Style For Popup Box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button On Popup */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


/* Taskbar Styling */


.container {

  background-color: gray
}



			
.modal-content {
	width: 350px;
}

.topnav button:hover {
	background-color: yellow;
}

/* Close Button Effects */
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

a:link {
	color: black;
}
a:hover, #myBtnLot:hover {
	background-color: black;
	color: white;
}


 tr:nth-child(even) {
	background-color: #dddddd;
}

tr:nth-child(odd) {
	background-color: #white;
	}
