body {
    font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	 display:block;	
	 text-align:center;
	 text-transform: uppercase;
	 background-color: #dddddd;	
	 text-decoration: none;
	 flex-grow: 1;
	 padding:15px;
}

h1 {
	font-family: 'Ramabhadra', sans-serif;
	text-align: center;
	font-size: 2.5em;
}

label {
	font-weight: bold;
}

table {
    font-family: arial, sans-serif;
	border-collapse: collapse;
	margin: 0px auto;
	width: 80%;
	position: relative;
	bottom: 30px;
}

th, td {
	border: 1px solid #dddddd;
	padding: 8px;
}

section {
	background-color: gray;
	margin: 0 auto;
	width: 80%;
	overflow-x: auto;
}

form {
	margin-top: 20px;
}

button {
	margin: 0 5px;
}

#logo {
	background-image: url("../images/HSlogo.png");
	background-repeat: no-repeat;
	width: 59px;
	flex-grow: 0;
	padding: 0;
	Border-bottom: 2px solid #dddddd;
	border-radius: 50px;
}


.navBar {
	width:100%;
	display:flex;
	justify-content: space-between;
	background-color: #dddddd;
}

#highlight {
	border: 1px solid black;
	border-style: inset;
}

.nav {
	display: flex;
	width: 90%;
	margin: 0 auto;
}

#lotBar{
	margin-bottom: 10px;
    margin-left: 66px;
    margin-right: auto;
}

 #temp h4 {
	bckground-color:white;
}

#tableDiv {
	margin-top: 50px;
}

#navForm{
	
	width: 915px;
	margin: 0 auto;
	padding:8px;
	
}

a:link {
	color: black;
}

a:visited {
	color:black;
}

a:hover{
	background-color: black;
	color: white;
}