/* **************************************************************************
* Copyright 2020 Marshall Brown, Josiah Schmidt, Micah Withers
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
* See the License for the specific language governing permissions and
* limitations under the License.
************************************************************************** */


body {
    font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}


h1{
	font-family: 'Ramabhadra', sans-serif;
	text-align: center;
	font-size: 2.5em;
	clear:both;
}


 a {
	 text-align:center;
	 text-transform: uppercase;
	 background-color: #dddddd;
	 text-decoration: none;
	 flex-grow: 1;
	 padding:15px;
}

#lotTable {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    max-height: 330px;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #000000a3;
}

#custTable {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    max-height: 330px;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #000000a3;
}

/* Table in User Story 4.2 */
.radioCol, .dataCol {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
.header, .data:nth-child(odd) {
    background-color: white;
}
.radioCol .data:nth-child(even), .dataCol .data:nth-child(even) {
    background-color: #dddddd;
}
.header, .data {
    border-style: solid;
    border-color: #808080b5;
}
.header {
    text-align: center;
}
.data {
    font-size: 20px;
    padding: 10px 0px;
}
div#first .data {
    /* padding-left: 25px; */
}
h3 {
    font-size: 30px;
}
input[type="radio"] {
    margin-left: calc(50% - 6.4px);
}

form {
	margin-top: 20px;
}

.customerInput{
	position: relative;
	left: 10%;
	margin: 5px 0
}

.contactInput {
    position: relative;
    left: 14%;
    margin: 5px 0;
}

.phoneInput {
    position: relative;
    left: 17%;
    margin: 5px 0;
}

.emailInput {
    position: relative;
    left: 19%;
    margin: 5px 0;
}

#addCust p {
	text-align: center;
    margin-left: 55px;
}

#myBtn {
	display:block;
	position: relative;
	left: 10%;
	background-color: black;
    color: white;
}

#status {
	margin-right: 60px;
}

.btnform {
	margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
}

.btnform button {
    width: 90px;
}

#home {
	margin-top: 20px;
    padding-bottom: 20px;
}

#contact {
	margin-right: 12px;
}

#phone {
	 margin-right: 21px;
}

#email {
	 margin-right: 22px;
}

#logo {
	background-image: url("../images/HSlogo.png");
	background-repeat: no-repeat;
	width: 59px;
	flex-grow: 0;
	padding: 0;
	Border-bottom: 2px solid #dddddd;
	border-radius: 50px;
}

#edit{
	position: relative;
    left: 10%;
    margin-bottom: 5px;
    width: 60px;
}

select {
    margin: 5px 0;
    width: 172.8px;
    height: 21.2px;
}

.submitBtn {
    height: 29px;
    margin: 5px;
    /* position: relative; */
    padding: 5px;
    background-color: black;
    color: white;
    width: 56px;
}

button[type="reset"] {
    margin-left: 25%;
}

.navBar {
	width:100%;
	display:flex;
	justify-content: space-between;
	background-color: #dddddd;
}

#highlight {
	border: 1px solid black;
	border-style: inset;
}

#editPad p {
	text-align: center;
	margin-left: 55px;
}



}
#lotNum {
	margin-left: 20px;
}

/* The Modal (background) During Active Popup */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content Style For Popup Box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button On Popup */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


/* Taskbar Styling */


.container {

  background-color: gray
}


.modal-content {
	width: 350px;
}

.topnav button:hover {
	background-color: yellow;
}

/* Close Button Effects */
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

a:link {
	color: black;
}

a:visited {
	color:black;
}

a:hover{
	background-color: black;
	color: white;
}
